/* ==========================================================================
		                     GLOBAL
========================================================================== */
section {
    padding: 20px 0;
}

section h3.section-subheading {
    margin-bottom: 35px;
}

.btn-xl {
    background-color: #06A5C4;
}

/* ==========================================================================
		                     NAVBAR
========================================================================== */

.navbar-custom .navbar-brand {
    color: #06A5C4;
}

.navbar-default .navbar-nav > .active > a {
    background-color: #06A5C4;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #06A5C4;
}

/* ==========================================================================
		                     A PROPOS
========================================================================== */
#about {
    background: #fff;
}

.team-member img {
    border-color: #eee;
}

.img-profil {
    width: 150px;
}

.list-inline > li {
    background-color: #000;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}

.list-inline > li:nth-child(3) {
    margin-right: 0;
}

.list-inline > li:hover {
    background-color: #06A5C4;
}

.list-inline > li .fa {
    color: #FFF;
    font-size: 20px;
}

.team-member .social-buttons {
    display: flex;
    justify-content: center;
}

/* ==========================================================================
                            COMPETENCES
========================================================================== */
#competences {
    background: #eee;
    /* gris */
}

/* Barres de skills */
#codeconSkills {
    /* Colonne des barres de skill */
    font-size: 20px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    width: 350px;
}

.codeconSkillbar {
    /* Barre de skill */
    width: 100%;
    height: 50px;
    position: relative;
    background: rgba(171, 171, 171, 0.7);
    margin: 20px auto;
    color: #fff;
    display: flex;
    align-items: center;
}

.codeconSkillArea {
    /* Nom des skill */
    z-index: 1;
    color: #fff;
    font-size: 18px;
    margin-left: 20px;
}

.PercentText {
    /* Pourcentage */
    position: absolute;
    margin-left: 85%;
    color: #FFF;
}

#codeconHTML {
    animation: Animate-HTML 5s;
    -webkit-animation: Animate-HTML 5s;
    -moz-animation: Animate-HTML 5s;
    -o-animation: Animate-HTML 5s;
    width: 80%;
    height: 50px;
    position: absolute;
    background-color: #E34F26;
}

@keyframes Animate-HTML {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-webkit-keyframes Animate-HTML {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-moz-keyframes Animate-HTML {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

@-o-keyframes Animate-HTML {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

#codeconCSS {
    animation: Animate-CSS 5s;
    -webkit-animation: Animate-CSS 5s;
    -moz-animation: Animate-CSS 5s;
    -o-animation: Animate-CSS 5s;
    width: 60%;
    height: 50px;
    position: absolute;
    background-color: #4189E8;
}

@keyframes Animate-CSS {
    from {
        width: 10px;
    }

    to {
        width: 60%
    }
}

@-webkit-keyframes Animate-CSS {
    from {
        width: 10px;
    }

    to {
        width: 60%
    }
}

@-moz-keyframes Animate-CSS {
    from {
        width: 10px;
    }

    to {
        width: 60%
    }
}

@-o-keyframes Animate-CSS {
    from {
        width: 10px;
    }

    to {
        width: 60%
    }
}

#codeconjQuery {
    animation: Animate-jQuery 5s;
    -webkit-animation: Animate-jQuery 5s;
    -moz-animation: Animate-jQuery 5s;
    -o-animation: Animate-jQuery 5s;
    width: 40%;
    height: 50px;
    position: absolute;
    background-color: #0769AD;
}

@keyframes Animate-jQuery {
    from {
        width: 10px;
    }

    to {
        width: 40%
    }
}

@-webkit-keyframes Animate-jQuery {
    from {
        width: 10px;
    }

    to {
        width: 40%
    }
}

@-moz-keyframes Animate-jQuery {
    from {
        width: 10px;
    }

    to {
        width: 40%
    }
}

@-o-keyframes Animate-jQuery {
    from {
        width: 10px;
    }

    to {
        width: 40%
    }
}

#codeconJS {
    animation: Animate-JS 5s;
    -webkit-animation: Animate-JS 5s;
    -moz-animation: Animate-JS 5s;
    -o-animation: Animate-JS 5s;
    width: 20%;
    height: 50px;
    position: absolute;
    background-color: #F2C40B;
}

@keyframes Animate-JS {
    from {
        width: 10px;
    }

    to {
        width: 20%
    }
}

@-webkit-keyframes Animate-JS {
    from {
        width: 10px;
    }

    to {
        width: 20%
    }
}

@-moz-keyframes Animate-JS {
    from {
        width: 10px;
    }

    to {
        width: 20%
    }
}

@-o-keyframes Animate-JS {
    from {
        width: 10px;
    }

    to {
        width: 20%
    }
}

#codeconJava {
    animation: Animate-Java 5s;
    -webkit-animation: Animate-Java 5s;
    -moz-animation: Animate-Java 5s;
    -o-animation: Animate-Java 5s;
    width: 10%;
    height: 50px;
    position: absolute;
    background-color: #DF0101;
}

@keyframes Animate-Java {
    from {
        width: 10px;
    }

    to {
        width: 10%
    }
}

@-webkit-keyframes Animate-Java {
    from {
        width: 10px;
    }

    to {
        width: 10%
    }
}

@-moz-keyframes Animate-Java {
    from {
        width: 10px;
    }

    to {
        width: 10%
    }
}

@-o-keyframes Animate-Java {
    from {
        width: 10px;
    }

    to {
        width: 10%
    }
}

#codeconPHP {
    animation: Animate-PHP 5s;
    -webkit-animation: Animate-PHP 5s;
    -moz-animation: Animate-PHP 5s;
    -o-animation: Animate-PHP 5s;
    width: 50%;
    height: 50px;
    position: absolute;
    background-color: #8892BE;
}

@keyframes Animate-PHP {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

@-webkit-keyframes Animate-PHP {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

@-moz-keyframes Animate-PHP {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

@-o-keyframes Animate-PHP {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

#codeconSQL {
    animation: Animate-SQL 5s;
    -webkit-animation: Animate-SQL 5s;
    -moz-animation: Animate-SQL 5s;
    -o-animation: Animate-SQL 5s;
    width: 50%;
    height: 50px;
    position: absolute;
    background-color: #4B4944;
}

@keyframes Animate-SQL {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

@-webkit-keyframes Animate-SQL {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

@-moz-keyframes Animate-SQL {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

@-o-keyframes Animate-SQL {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

#codeconAngular {
    animation: Animate-Angular 5s;
    -webkit-animation: Animate-Angular 5s;
    -moz-animation: Animate-Angular 5s;
    -o-animation: Animate-Angular 5s;
    width: 20%;
    height: 50px;
    position: absolute;
    background-color: #5A8A5B;
}

@keyframes Animate-Angular {
    from {
        width: 10px;
    }

    to {
        width: 20%
    }
}

@-webkit-keyframes Animate-Angular {
    from {
        width: 10px;
    }

    to {
        width: 20%
    }
}

@-moz-keyframes Animate-Angular {
    from {
        width: 10px;
    }

    to {
        width: 20%
    }
}

@-o-keyframes Animate-Angular {
    from {
        width: 10px;
    }

    to {
        width: 20%
    }
}

#codeconBootstrap {
    animation: Animate-Bootstrap 5s;
    -webkit-animation: Animate-Bootstrap 5s;
    -moz-animation: Animate-Bootstrap 5s;
    -o-animation: Animate-Bootstrap 5s;
    width: 60%;
    height: 50px;
    position: absolute;
    background-color: #9A07AE;
}

@keyframes Animate-Bootstrap {
    from {
        width: 10px;
    }

    to {
        width: 60%
    }
}

@-webkit-keyframes Animate-Bootstrap {
    from {
        width: 10px;
    }

    to {
        width: 60%
    }
}

@-moz-keyframes Animate-Bootstrap {
    from {
        width: 10px;
    }

    to {
        width: 60%
    }
}

@-o-keyframes Animate-Bootstrap {
    from {
        width: 10px;
    }

    to {
        width: 60%
    }
}

#codeconSass {
    animation: Animate-Sass 5s;
    -webkit-animation: Animate-Sass 5s;
    -moz-animation: Animate-Sass 5s;
    -o-animation: Animate-Sass 5s;
    width: 20%;
    height: 50px;
    position: absolute;
    background-color: #A54531;
}

@keyframes Animate-Sass {
    from {
        width: 10px;
    }

    to {
        width: 20%
    }
}

@-webkit-keyframes Animate-Sass {
    from {
        width: 10px;
    }

    to {
        width: 20%
    }
}

@-moz-keyframes Animate-Sass {
    from {
        width: 10px;
    }

    to {
        width: 20%
    }
}

@-o-keyframes Animate-Sass {
    from {
        width: 10px;
    }

    to {
        width: 20%
    }
}

#codeconWordpress {
    animation: Animate-Wordpress 5s;
    -webkit-animation: Animate-Wordpress 5s;
    -moz-animation: Animate-Wordpress 5s;
    -o-animation: Animate-Wordpress 5s;
    width: 30%;
    height: 50px;
    position: absolute;
    background-color: #0087BE;
}

@keyframes Animate-Wordpress {
    from {
        width: 10px;
    }

    to {
        width: 30%
    }
}

@-webkit-keyframes Animate-Wordpress {
    from {
        width: 10px;
    }

    to {
        width: 30%
    }
}

@-moz-keyframes Animate-Wordpress {
    from {
        width: 10px;
    }

    to {
        width: 30%
    }
}

@-o-keyframes Animate-Wordpress {
    from {
        width: 10px;
    }

    to {
        width: 30%
    }
}

#codeconTypo3 {
    animation: Animate-Typo3 5s;
    -webkit-animation: Animate-Typo3 5s;
    -moz-animation: Animate-Typo3 5s;
    -o-animation: Animate-Typo3 5s;
    width: 10%;
    height: 50px;
    position: absolute;
    background-color: #E97E0D;
}

@keyframes Animate-Typo3 {
    from {
        width: 10px;
    }

    to {
        width: 10%
    }
}

@-webkit-keyframes Animate-Typo3 {
    from {
        width: 10px;
    }

    to {
        width: 10%
    }
}

@-moz-keyframes Animate-Typo3 {
    from {
        width: 10px;
    }

    to {
        width: 10%
    }
}

@-o-keyframes Animate-Typo3 {
    from {
        width: 10px;
    }

    to {
        width: 10%
    }
}

#codeconPhotoshop {
    animation: Animate-Photoshop 5s;
    -webkit-animation: Animate-Photoshop 5s;
    -moz-animation: Animate-Photoshop 5s;
    -o-animation: Animate-Photoshop 5s;
    width: 50%;
    height: 50px;
    position: absolute;
    background-color: #245FBE;
}

@keyframes Animate-Photoshop {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

@-webkit-keyframes Animate-Photoshop {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

@-moz-keyframes Animate-Photoshop {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

@-o-keyframes Animate-Photoshop {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

#codeconAdobeXD {
    animation: Animate-AdobeXD 5s;
    -webkit-animation: Animate-AdobeXD 5s;
    -moz-animation: Animate-AdobeXD 5s;
    -o-animation: Animate-AdobeXD 5s;
    width: 30%;
    height: 50px;
    position: absolute;
    background-color: #A02405;
}

@keyframes Animate-AdobeXD {
    from {
        width: 10px;
    }

    to {
        width: 30%
    }
}

@-webkit-keyframes Animate-AdobeXD {
    from {
        width: 10px;
    }

    to {
        width: 30%
    }
}

@-moz-keyframes Animate-AdobeXD {
    from {
        width: 10px;
    }

    to {
        width: 30%
    }
}

@-o-keyframes Animate-AdobeXD {
    from {
        width: 10px;
    }

    to {
        width: 30%
    }
}

#codeconCordova {
    animation: Animate-Cordova 5s;
    -webkit-animation: Animate-Cordova 5s;
    -moz-animation: Animate-Cordova 5s;
    -o-animation: Animate-Cordova 5s;
    width: 15%;
    height: 50px;
    position: absolute;
    background-color: #4CC2E4;
}

@keyframes Animate-Cordova {
    from {
        width: 10px;
    }

    to {
        width: 15%
    }
}

@-webkit-keyframes Animate-Cordova {
    from {
        width: 10px;
    }

    to {
        width: 15%
    }
}

@-moz-keyframes Animate-Cordova {
    from {
        width: 10px;
    }

    to {
        width: 15%
    }
}

@-o-keyframes Animate-Cordova {
    from {
        width: 10px;
    }

    to {
        width: 15%
    }
}

#codeconGit {
    animation: Animate-Git 5s;
    -webkit-animation: Animate-Git 5s;
    -moz-animation: Animate-Git 5s;
    -o-animation: Animate-Git 5s;
    width: 30%;
    height: 50px;
    position: absolute;
    background-color: #049469;
}

@keyframes Animate-Git {
    from {
        width: 10px;
    }

    to {
        width: 30%
    }
}

@-webkit-keyframes Animate-Git {
    from {
        width: 10px;
    }

    to {
        width: 30%
    }
}

@-moz-keyframes Animate-Git {
    from {
        width: 10px;
    }

    to {
        width: 30%
    }
}

@-o-keyframes Animate-Git {
    from {
        width: 10px;
    }

    to {
        width: 30%
    }
}

/* ==========================================================================
                            EXPERIENCE
========================================================================== */
#experience {
    background: #fff;
    /* blanc */
}

.body {
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans Pro', arial, sans-serif;
    font-weight: 300;
    color: #333;
    box-sizing: border-box;
}

.body * {
    box-sizing: border-box;
}

.timeline {
    width: 100%;
    background: #FFF;
    padding: 100px 50px 0;
    position: relative;
    box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0px;
    left: calc(33% + 15px);
    bottom: 0px;
    width: 4px;
    background: #ddd;
}

.timeline:after {
    content: "";
    display: table;
    clear: both;
}

.entry {
    clear: both;
    text-align: left;
    position: relative;
}

.entry .title {
    margin-bottom: .5em;
    float: left;
    width: 32.7%;
    padding-right: 30px;
    text-align: right;
    position: relative;
}

.entry .title:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 4px solid #06A5C4;
    background-color: #fff;
    border-radius: 100%;
    top: 15%;
    right: -8px;
    z-index: 99;
}

.entry .title h3 {
    margin: 0;
    font-size: 14px;
}

.entry .title p {
    margin: 0;
    font-size: 100%;
}

.entry .body {
    margin: 0 0 3em;
    float: right;
    width: 66%;
    padding-left: 30px;
}

.entry .body p {
    line-height: 1.4em;
}

.entry .body p:first-child {
    margin-top: 0;
    font-weight: 400;
}

.entry .body ul {
    color: #aaa;
    padding-left: 0;
    list-style-type: none;
}

.entry .body ul li:before {
    content: "–";
    margin-right: .5em;
}

/* ==========================================================================
		                          PORTFOLIO
========================================================================== */
#portfolio .img-responsive {
    width: 400px;
    height: 260px;
}

#portfolio h4 {
    font-size: 13px;
}

#portfolio .portfolio-item .portfolio-caption p {
    font-size: 11px;
}

#portfolio_more {
    display: none;
}

#see_less {
    display: none;
}

#see_more,
#see_less {
    background-color: #06A5C4;
    color: #FFF;
}

/* ==========================================================================
		                      PORTFOLIO DETAILS
========================================================================== */
p.description, h3.titre {
    text-align: left;
}

ul.competences {
    text-align: left;
}

div.lien-utile {
    text-align: left;
}

/* ==========================================================================
                                CONTACT
========================================================================== */
#contact .infoSup {
    color: #fff;
}

/* ==========================================================================
                            PIED DE PAGE - FOOTER
========================================================================== */
#footer .nav {
    display: block;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.pull-right {
    float: right !important;
}

.scroll-top {
    position: fixed;
    bottom: 4%;
    right: 1%;
    z-index: 100;
}

.scroll-top a:hover {
    border: 1px solid #fff;
    outline: 0;
    color: #fff;
    background: #06A5C4;
}

.scroll-top a:link,
.scroll-top a:visited {
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    border: 1px solid #06A5C4;
    background: #06A5C4;
    font-size: 30px;
}

.fa-angle-up {
    /* Flèche ancre */
    font-size: 30px;
}
